[Desktop Entry]
Encoding=UTF-8
TryExec=lxterminal
Exec=sh -c 'cd /home/pi/SYSTEM;sh ejecutar_bm.sh'
Icon=/home/pi/SYSTEM/ICO_BM_OFF.png
Type=Application
StartupNotify=false
Categories=GTK;Utility;TerminalEmulator;
Terminal=false
Name[es_ES]=Abrir BM
Hidden=false
Comment[es_ES]=EA3EIZ