[Desktop Entry]
Encoding=UTF-8
TryExec=lxterminal
Exec=sh -c "cd /home/pi/SYSTEM; sudo sh ejecutar_dmrgateway.sh"
Icon=/home/pi/SYSTEM/ICO_DMRGATEWAY_OFF.png
Type=Application
StartupNotify=false
Categories=GTK;Utility;TerminalEmulator;
Terminal=false
Name[es_ES]=Abrir DMRGateway
Hidden=false
Comment[es_ES]=EA3EIZ
