[Desktop Entry]
Encoding=UTF-8
TryExec=lxterminal
#Exec=sh -c "cd /home/pi/SYSTEM;lxterminal --geometry=46x13 -e sudo sh info_bm.sh"
Exec=sh -c "cd /home/pi/qt;./qt_info_bm"
Icon=/home/pi/SYSTEM/ICO_INFO_BM.png
Type=Application
StartupNotify=false
Categories=GTK;Utility;TerminalEmulator;
Name[en_US]=MMDVM Connect Screen
Terminal=false
Name=0
Hidden=false

